.cancel-button {
    background-color: black;
    padding: 0.5rem;
}

.screen-container {
    width: 20rem;
    margin: 0 auto;
}

img.hero-image {
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.option-label {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.protein, .drink_option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    width: 100%;
}

