
/* move the menu down so it wont be covered by the nav and filter bar */
/* .menu {
    padding-top: 80px;
} */

.menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category {
    width: 20rem;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    h2 {
        text-align: center;
    }
}