nav {
    position: relative;
    background-color: transparent;
    overflow: visible;

    z-index: 50;
}

.nav-background {
    width: 100%;
    max-width: 27.5rem;
    position: absolute;
    z-index: 1;
    top: 0;

    z-index: 1;
    transform: translateY(-1rem);

    svg {
        width: 100%;
        
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    height: calc(59.75rem - 12rem); /* Keep the height the same */
    margin-top: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
}

h1, p {
    text-align: center;
}
.content div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.animation {
    width: 14.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    
    .thankyou-gif {
        /* border: 1px solid black; */
        
        height: 4rem;
        overflow: hidden;

        transform: translateY(-2rem);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; 
                    }
    }
}

.time {
    font-size: 2.75rem;
    font-weight: 500;
}


.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars {
    /* Add any additional styles for the image */
}
