html {
    overflow-y: hidden;
    font-family: var(--main-font);
}

nav {
    position: relative;
    background-color: transparent;
    overflow: visible;

    z-index: 50;
}

.nav-background {
    width: 100%;
    max-width: 27.5rem;
    position: absolute;
    top: 0;

    z-index: 1;
    transform: translateY(-1rem);

    svg {
        width: 100%;
        
    }
}

/* .content-container {
    transform: translateY(5rem);
    z-index: 40;


    overflow-y: visible;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 8.5rem);



} */

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    z-index: 40;
    position: relative;
    margin-top: 3.5rem;


}

h1 {
    text-align: center;
}

h4 {
    color: black;
    margin-bottom: 0.5rem;
}

.payment-container {
    text-align: center;


    .warning {
        margin-top: 0.5rem;
    }
}

.choose-payment {
    margin: 0 auto;
    border: 1px solid black;
    width: 23.5rem;
    height: 5.875rem;
    padding: 1.5rem;
    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;

    cursor: pointer;

}

.point {
    width: 12.5rem;
    min-height: 4.875rem;

    margin: 0 auto;
    /* border: 3px solid black; */
    color: white;
    background-color: var(--brown);
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: 700;
    }

    p:nth-child(1){
        font-size: 0.75rem;
    }

}

.pickup-time, .add-tips {
    padding: 0 2rem;
    h4 {
        margin-bottom: 0.5rem;
    }
}



.pickup-selection, .tips{
    display: flex;
    text-wrap: nowrap;
    gap: 0.5rem;

    overflow-x: scroll;

    p {
        
        padding: 0.5rem 0.75rem;
        border: 1px solid black;
        border-radius: 0.5rem;
    }
}

/* .total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    background-color: white;

    z-index: 100;

}

.total {
    width: 11.5rem;

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
} */

button {
    width: 23.5rem;
    height: 3.5rem;
    background-color: var(--brown);
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;

}

.pickup-selection p, .tips p, .pickup-selection button, .tips button {
    cursor: pointer !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor:no-drop;
}

.two-columns {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    /* margin: 7.37rem 2rem .5rem 2rem; */
}

.column {
    width: 50%;
    margin-top: 5rem;
    margin-bottom: .5rem;
}

.left-column {
    text-align: left; 
    margin-left: 2rem;
}

.right-column {
    text-align: right; 
    margin-right: 2rem;
}

.two-columns h4 {
    margin-bottom: 0rem;
}
