<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bottom-nav.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/general.css">
    <title>Bottom Nav</title>
</head>
<body>

    <div class="bottom-nav">
            
        <a href="home.html" class="icon-container">
            <img src="../images/icons/home.svg" alt="home icon">
            <p class="label">Home</p>
        </a>

        

        <a href="menu.php" class="icon-container">
            <img src="../images/icons/menu.svg" alt="menu icon">
            <p class="label">Menu</p>
        </a>

        <a href="#" class="icon-container">
            <img src="../images/icons/profile.svg" alt="contact icon">
            <p class="label">Profile</p>
        </a>
    </div>

</body>
</html>