<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/heart-button.css">
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    <title>Heart Button</title>
</head>
<body>

    <div class="heart">
        <div class='large-font text-center top-20'>
            <ion-icon name="heart">
            <div class='red-bg'></div>
            </ion-icon>
        </div>
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>