<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/item-counter.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <title>Item Counter</title>
</head>
<body>
    <div class="product-count">
        <button class="button-count" disabled>-</button>
        <input type="text" readonly class="number-product" value="1">
        <button class="button-count">+</button>
    </div>
    
    <script>
    $(document).ready(function () {
        $(".button-count").click(function () {
            let num = parseInt($(".number-product").val());
            const isDecrement = $(this).text() === "-";

            if (isDecrement && num > 1) {
                $(".number-product").val(num - 1);
            } else if (!isDecrement && num < 10) {
                $(".number-product").val(num + 1);
            }

            num = parseInt($(".number-product").val()); // Update value after change

            $(".button-count").eq(0).prop("disabled", num <= 1);
            $(".button-count").eq(1).prop("disabled", num >= 10);
        });
    });
    </script>
</body>
</html>
