@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*::after {
    box-sizing: border-box;
}

html {

    --red: #C73715;
    --grey: #414141;
    --black: #000;
    --brown: #470D01;
    --bag-red: #FF5858;
    --mustard-yellow: #FFBB00;
    --light-yellow: #FFEEDC;
    --bg-yellow: #FFD598;

    --background-color: #A63B33;

    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;

    /* font-size */
    --bottom-nav-font-size: 0.75rem;
    --bottom-nav-font-weight: 700;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    font-family: var(--main-font);


}

.screen-container {
    width: 27.5rem;
    /* height: 59.75rem; */
    margin: auto;
    /* border-radius: 1.5rem; */

    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;

    background-color: white;

    overflow-y: auto;

}


/* top-nav */
nav {
    width: 27.5rem;
    height: 4.5rem;
    background-color: var(--red);
    font-family: var(--main-font);
    padding: 1rem 2rem;
    color: white;
    /* border-radius: 1.5rem 1.5rem 0 0; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 100;

    img {
        width: 33px;
    }

}

/* bottom-nav */
.bottom-nav {
    width: 27.5rem;
    height: 6rem;
    background-color: var(--red);

    position: fixed;
    transform: translateY(calc(100vh-6rem));
    bottom: 0;

    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 200;




    .icon-container {
        object-fit: cover;
        text-decoration: none;
        width: 2.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    img {
        height: 2.5rem;
    }

}

.label {
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--bottom-nav-font-size);
    font-weight: var(--bottom-nav-font-weight);
    color: white;
    text-decoration: none;
    text-align: center;
}

.label:visited {
    color: white;

}

p, h3, h4 {
    margin: 0;
}