.content {
    transform: translateY(4.5rem);

    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    overflow-x: hidden;
}

.hero-image {
    width: 27.5rem;
    height: 23.3rem;

    img {
        object-fit: cover;
    }
}

.petes-fav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 2rem;
}

.fav-container {
    display: flex;
    gap: 2rem;
    

    overflow-x: scroll;
    scrollbar-width: none;
}

.fav {
    width: 8.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    img {
        width: 8.125rem;
        object-fit: contain;
        border-radius: 0.5rem;
    }
}

.description {
    display: flex;
    justify-content: space-between;
}

.location-container{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
        margin-bottom: 0.25rem;
        color: black;
    }
    
}

/* order profress bar */
.order-status {
    cursor: pointer;
    transform: translateY(4.5rem);
    background-color: var(--brown);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.8rem 2rem;
    
    h4 {
        text-decoration: underline;
    }

    img {
        width: 1.5rem;
        height: 2rem;
    }

}