.filter-bar {
    scrollbar-width: none;
    width: 27.5rem;
    height: 3.5rem;
    background-color: var(--brown);
    padding: 0 2rem;
    overflow-x: auto;
    color: white;
    text-wrap: nowrap;
    align-items: center;

    display: flex;
    gap: 2.5rem;

    position: fixed;
    transform: translateY(4.5rem);

    z-index: 90;
}

#drinks{
    scroll-behavior: smooth;
}



