.quanity {
    position: absolute;

    background-color: var(--bag-red);
    z-index: 200;
    right: 1.2rem;
    top: 0.8rem;

    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}