/*bag.css*/
*, *::before, *::after {
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;

    background-color: transparent;
}


h1 {
    text-align: center;
}

h4 {
    color: black;
}

/* nav {
    position: relative;
    background-color: transparent;
    overflow: visible;

    z-index: 50;
} */

.nav-background {
    width: 100%;
    max-width: 27.5rem;
    position: absolute;
    top: 0;

    z-index: 1;
    transform: translateY(-1rem);

    svg {
        width: 100%;
        
    }
}


.content-container {
    /* transform: translateY(5rem); */
    padding-top: 8.5rem;
    position: relative;
    z-index: 900;

    overflow-y: auto;
    overflow-x: hidden;
    /* padding-top: 7rem; */

    display: flex;
    flex-direction: column;
    height: 100vh;
    /* height: calc(100vh - 29.9rem); */

}

.total-container {
    /* background-color: pink; */
    background-color: white;
    width: 100%;
    max-width: 27.5rem;
    
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.content {
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    

  
}

/* item in bag */
.item-card {
    width: 100%;
    max-width: 23.5rem;
    background-color: var(--light-yellow);
}

/* Subtotal Section */
.subtotal {
    display: flex;
    justify-content: space-between;
}

.empty-bag {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    width: 100%;
    
    height: 18rem;
}

.fav-section {
    
    /* background-color: pink; */

    padding: 1rem 2rem;
}



/* fav items section */
.popular-items {
    display: flex;
    gap: 1rem;
    overflow-x: auto; 
    padding-bottom: 1rem; 

    margin-top: 0.5rem;
}



.pop-items-container {
    width: 9.1875rem;
    height: 12.875rem;

    flex: 0 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    background-color: var(--light-yellow);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 0.5rem;
}

.pop-items-container img {
    height: 8.1875;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 0.5rem;
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: var(--menu-font);

    /* font-size: 0.9rem;
    color: #555;
    width: 100%; 
    padding: 0 0.5rem;  */
}

.add-button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;

    height: 1.35rem;
}



