.cancel-button {
    height: 1.5rem;

    img {
        height: 100%;
    }
}

.content {
    width: 100%;
    max-width: 27.5rem;
    background-color: white;
    padding: 2.5rem 2rem;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 2rem;

    /* transform: translateY(5rem); */

}

h2,p {
    margin: 0;
}

.hero-image {
    border-radius: 1rem;
}

.description-container {

    p {
        margin-top: 1rem;
    }
}


.description, .subtotal {
    display: flex;
    justify-content: space-between;
}

.subtotal {
    margin: 0 0 .5rem 0;
}

.option {
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: solid 3px var(--bg-yellow);
    display: flex;
    flex-direction: column;

    label {
        text-transform: capitalize;
    }
}

.option-title { 
    margin: 1rem;
    display: flex;
    align-items: flex-end;

    h2 {
        text-transform: capitalize;
    }
}

.option h2 {
    color: var(--red);
}

.option img {
    margin-left: .5rem;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

br {
    height: 0.5rem;
}

.note {
    margin-top: 1.5rem;
    border: 3px solid var(--red);
    border-radius: 1rem;
    height: 9rem;
    padding: 0.5rem 0.75rem;
    font-family: var(--main-font);
}


.protein-option {
    display: flex;
    gap: 0.5rem;
}

.protein {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[checkbox] {
    appearance: none;
}

br {
    height: 0.5rem;
}

.fav-container {
    margin-top: 4.5rem;

    display: flex;
    justify-content: space-between;

    object-fit: contain;

    /* .counter {
        display: flex;
        gap: 2rem;
        padding:0 1rem;
        border-radius: 2.5rem;
        border: 3px solid var(--red);
        overflow: visible;
        align-items: center;

        height: 2.5rem;

        p {
            font-size: 1.25rem;
            color: var(--red);
            font-weight: 400;
        }
    } */
}


.line {
    margin: 0;
}

.option-label {
    margin: 1rem;
    display: flex;
    gap: 0.5rem;

    label {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.cancel-update {
    color: var(--brown);
    text-align: center;
    text-decoration: none;

    padding: 1rem;
    border: 1px solid var(--brown);
}

.cancel-button:visited {
    color: var(--brown);
}

