.cancel-button {
    height: 1.5rem;

    img {
        height: 100%;
    }
}

.content {
    width: 100%;
    max-width: 27.5rem;
    background-color: white;
    padding: 2.5rem 2rem;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 2rem;

    /* transform: translateY(5rem); */

}

h2,p {
    margin: 0;
}

.hero-image {
    border-radius: 1rem;
}

.description-container {

    p {
        margin-top: 1rem;
    }
}


.description, .subtotal {
    display: flex;
    justify-content: space-between;
}

.subtotal {
    margin: 0 0 .5rem 0;
}

.option {
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: solid 3px var(--bg-yellow);
    display: flex;
    flex-direction: column;

    label {
        text-transform: capitalize;
    }
}

.option-title { 
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        text-transform: capitalize;
    }
}

.require {
    color: var(--red);
    font-size: 2rem;
}

.option h2 {
    color: var(--red);
}

.option img {
    margin-left: .5rem;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

br {
    height: 0.5rem;
}

.note {
    margin-top: 1.5rem;
    border: 3px solid var(--red);
    border-radius: 1rem;
    height: 9rem;
    padding: 0.5rem 0.75rem;
    font-family: var(--main-font);
}


.protein-option {
    display: flex;
    gap: 0.5rem;
}

.protein {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[checkbox] {
    appearance: none;
}

br {
    height: 0.5rem;
}

.fav-container {
    margin-top: 4.5rem;

    display: flex;
    justify-content: space-between;

    object-fit: contain;

}


.line {
    margin: 0;
}

.option-label {
    margin: 1rem;
    display: flex;
    gap: 0.5rem;

    label {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.cancel-update {
    color: var(--brown);
    text-align: center;
    text-decoration: none;

    padding: 1rem;
    border: 1px solid var(--brown);
}

.cancel-button:visited {
    color: var(--brown);
}



/* Hide the default radio button appearance */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 

    width: 1.35rem;
    height: 1.25rem;
    border: 2px solid black; 
    border-radius: 100%;       
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease; 
}

  /* Active (checked) state */
input[type="radio"]:checked {
    border-color: black; 
}

  /* Add a red dot inside when active */
input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    /* margin: 3px; */
    border-radius: 50%;
    background-color: black; 
}

input[type="radio" i] {
    margin: 0;
}

/* checkbox css */
input[type="checkbox" i] {
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 

    width: 1.35rem;
    height: 1.25rem;
    border: 2px solid black;  
    border-radius: 0.25rem;     
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease; 
}

input[type="checkbox"]:checked {
    background-color: white; 
    border-color: black;

    background-image: url('../../images/icons/check.svg');
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;

}

input, label {
    cursor: pointer;
}


