html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0rem;
    z-index: 1000;
}

/* Fixed Filter Bar */
.filter-bar {
    scrollbar-width: none;
    background-color: var(--brown);
    width: 100%;
    max-width: 27.5rem;
    height: 3.5rem;
    overflow-x: auto;
    margin: 0 auto;

    position: fixed;
    top: 4.5rem;

    padding: 0 2rem 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-wrap: nowrap;

    display: flex;
    gap: 2.5rem;
    align-items: center;

    z-index: 1000;

}

.filter-bar a {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

/* .filter a {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
} */

.filter-bar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white; 
    transition: width 0.3s ease, left 0.3s ease;
}

.filter-bar a.active::after {
    width: 100%;
    left: 0;
}

.filter-bar a.active {
    color: white; 
    font-weight: bold;
}


.menu {
    padding-top: 9rem;
    scroll-behavior: smooth;

    width: 100%;
    max-width: 27.5rem;
}
