@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*::after {
    box-sizing: border-box;
}

html {

    margin: 0;

    --red: #C73715;
    --grey: #414141;
    --black: #000;
    --brown: #470D01;
    --bag-red: #FF5858;
    --mustard-yellow: #FFBB00;
    --light-yellow: #FFEEDC;
    --bg-yellow: #FFD598;

    --background-color: darkgrey;

    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;

    /* font-size */
    --bottom-nav-font-size: 0.75rem;
    --bottom-nav-font-weight: 700;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    font-family: var(--main-font);



}

.screen-container {
    max-width: 27.5rem;
    height: 100vh;

    /* min-height: 59.75rem; */
    margin: auto;
    /* border-radius: 1.5rem; */

    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;

    background-color: white;

    overflow-y: auto;

    /* display: flex;
    flex-direction: column; */

}


/* top-nav */
nav {
    width: 100%;
    max-width: 27.5rem;
    height: 4.5rem;
    background-color: var(--red);
    font-family: var(--main-font);
    padding: 1rem 2rem;
    color: white;
    /* border-radius: 1.5rem 1.5rem 0 0; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 2000;

    img {
        width: 33px;
    }

    button {
        cursor: pointer;
        background: none;
        border: none;

        margin: 0;
    }

}



/* bottom-nav */
.bottom-nav {
    width: 100%;
    max-width: 27.5rem;
    height: 6rem;
    background-color: var(--red);

    position: fixed;
    transform: translateY(calc(100vh-6rem));
    bottom: 0;

    display: flex;
    justify-content: space-between;
    padding: 0.75rem 3rem;
    z-index: 200;







    .icon-container {
        /* object-fit: cover;
        text-decoration: none;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        border-radius: 0.5rem; */

        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 4rem;
        text-decoration: none;
        padding: 0.5rem;
        position: relative;
        /* transition: background-color 0.3s ease; */
        border-radius: 10px;
    }

    img {
        height: 2rem;
    }

}

.bottom-nav .icon-container.active {
    background-color: var(--brown);
    /* border-radius: 1rem; 
    padding: 1rem; */
}


.label {
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--bottom-nav-font-size);
    font-weight: var(--bottom-nav-font-weight);
    color: white;
    text-decoration: none;
    text-align: center;


}

.label:visited {
    color: white;

}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--main-font);
}

h4, .heading-4{
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 700;
}

h4:visited, .heading-4:visited {
    color: white;
}

.bag-icon {
    text-decoration: none;

}
