@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.product-count {
    top: 25%;
    left: 45%;
    height: 2.5rem;
    width: 11.25rem;
    border: 3px solid #C73715;
    border-radius: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px;
    
}

input {
    font-size: 1.25rem;
}

.button-count {
    width: 30px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;

    display: flex;
    align-items: center;
}

.number-product {
    color: #C73715;
    width: 40px;
    height: 30px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;

}

:disabled {
    cursor: not-allowed;
}
