html {
    overflow-y: hidden;
    font-family: var(--main-font);
}

nav {
    position: relative;
    background-color: transparent;
    overflow: visible;

    z-index: 50;
}

.nav-background {
    width: 100%;
    max-width: 27.5rem;
    position: absolute;
    top: 0;

    z-index: 1;
    transform: translateY(-1rem);

    svg {
        width: 100%;
        
    }
}

/* .content-container {
    transform: translateY(5rem);
    z-index: 40;


    overflow-y: visible;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 8.5rem);



} */

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    z-index: 40;
    position: relative;
    margin-top: 3.5rem;


}

h1 {
    text-align: center;
}

h4 {
    color: black;
    margin-bottom: 0.5rem;
}

.payment-container {
    text-align: center;


    .warning {
        margin-top: 0.5rem;
    }
}

.choose-payment {
    margin: 0 auto;
    border: 1px solid black;
    width: 23.5rem;
    height: 5.875rem;
    padding: 1.5rem;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;

    cursor: pointer;

    img {
        height: 2.5rem;
    }

}

.point {
    width: 12.5rem;
    min-height: 4.875rem;

    margin: 0 auto;
    /* border: 3px solid black; */
    color: white;
    background-color: var(--brown);
    border-radius: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 3000;

    p {
        font-weight: 700;
    }

    p:nth-child(1){
        font-size: 0.75rem;
    }

}

.point-swirl {
    position: absolute;
    transform: translateY(-6rem);
}

.pickup-time, .add-tips {
    padding: 0 2rem;

    position: relative;
    z-index: 4000;

    h4 {
        margin-bottom: 0.5rem;
    }
}

.add-tips {
    margin-top: 1rem;
}



.pickup-selection, .tips-selection {
    display: flex;
    text-wrap: nowrap;
    gap: 0.5rem;
    overflow-x: scroll;

    scrollbar-width: none;

}

.tips-selection {
    width: 100%;
    max-width: 23.5rem;
    align-items: stretch;
}

.pickup-selection label, .tips-selection label {
    width: 23.5rem;
    height: 2rem;
    margin: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--brown);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.pickup-selection label.selected, .tips-selection label.selected {
    background-color: var(--brown); 
    color: white;
}

input[type="radio"] {
    display: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor:no-drop;
}

.total-container {
    width: 100%;
    max-width: 27.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;

    position: absolute;
    bottom: 0;

    z-index: 2000;

}

.total {
    width: 100%;
    max-width: 23.5rem;


    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
        margin-bottom: 0;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
