.content {
    transform: translateY(4.5rem);

    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

.hero-image {
    width: 27.5rem;
    height: 23.3rem;

    img {
        object-fit: cover;
    }
}

.petes-fav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 2rem;
}

.fav-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    

    overflow-x: scroll;
    scrollbar-width: none;
}

.fav {
    width: 8.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    img {
        width: 8.125rem;
        object-fit: contain;
        border-radius: 0.5rem;
    }
}

.description {
    display: flex;
    justify-content: space-between;
}

.location-container{
    background-color: var(--light-yellow);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h4 {
        margin-bottom: 0.25rem;
        color: black;
    }
    
}

/* order profress bar */
.order-status {
    cursor: pointer;
    transform: translateY(4.5rem);
    background-color: var(--brown);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.8rem 2rem;
    
    h4 {
        text-decoration: underline;
    }

    img {
        width: 1.5rem;
        height: 2rem;
    }

}

.CTA h1 {
    text-align: center;
    font-size: 1.75;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CTA img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.login-button {
    width: 23.5rem;
    height: 3.5rem;
    background-color: white;
    color: var(--brown);
    border: 3px solid var(--brown);
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease, box-shadow 0.2s ease; 
    align-items: center;
}

.login-button:active {
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

a {
    text-decoration: none;
}

.map {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.help {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.rules p {
    position: relative;
    padding-left: 2.29rem;
    padding-bottom: 1rem;
}

.rules {
    /* margin: 2.29rem; */
    margin: 2rem;
}

.rules h1 {
    margin-bottom: 2rem;
    text-align: center;

}

.rules p::before {
    content: "";
    background: url('../../images/icons/yellow-star.svg') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 5px;
}

.rules p:last-child {
    padding-bottom: 0;
}

.points { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3.56rem;
}

.points h1 {
    color: var(--red);
    margin-bottom: .5rem;
}

.rewards-section { 
    margin-top: 6rem;
    margin-bottom: 3.56rem;
}

.reward-button {
    width: 23.5rem;
    height: 3.5rem;
    background-color: white;
    color: var(--brown);
    border: 3px solid var(--brown);
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease, box-shadow 0.2s ease; 
    align-items: center;
}

.reward-button:active {
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.reward2-button { 
    width: 23.5rem;
    height: 3.5rem;
    background-color: var(--brown);
    color: white;
    /* border: 3px solid var(--brown); */
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease, box-shadow 0.2s ease; 
    align-items: center;
}

.screen-container-2 {
    max-width: 27.5rem;
    height: 100vh;
    margin: auto;
    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;
    background-color: white;
    overflow-y: auto;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('/images/icons/bg-stars.svg') no-repeat center center; */
    height: 100vh;
    background-size: cover;
    z-index: 1;
}