.content {
    margin-top: 3.5rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}


a {
    text-decoration: none;
}

h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.rules p {
    position: relative;
    padding-left: 2.29rem;
    padding-bottom: 1rem;
}

.rules {
    /* margin: 2.29rem; */
    margin: 2rem;
}

.rules h1 {
    margin-bottom: 2rem;
    text-align: center;

}

.rules p::before {
    content: "";
    background: url('../../images/icons/yellow-star.svg') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 5px;
}

.rules p:last-child {
    padding-bottom: 0;
}

.points { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3.56rem;
}

.points h1 {
    color: var(--red);
    margin-bottom: .5rem;
}

/* .rewards-section { 
    margin-top: 6rem;
    margin-bottom: 3.56rem;
} */


.screen-container-2 {
    max-width: 27.5rem;
    height: 100vh;
    margin: auto;
    --main-font: 'Montserrat', sans-serif;
    --menu-font: 'Inter', sans-serif;
    background-color: white;
    overflow-y: auto;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('/images/icons/bg-stars.svg') no-repeat center center; */
    height: 100vh;
    background-size: cover;
    z-index: 1;

.reward-buttons {
    padding: 0 2rem;

}